-- Add email column to site_inquiries for sender's email
ALTER TABLE site_inquiries ADD COLUMN IF NOT EXISTS email TEXT;

-- (Optional) Ensure config in site_addons can store various settings like notification_email
-- The config column already exists as JSONB.
